<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg"
  name="@project.name@"
  abbrev="@project.abbrev@"
  version="@project.version@"
  spec="1.0">
    <title>@project.title@</title>
    <dependency processor="http://exist-db.org" semver-min="@project.processorversion@"/>
    <dependency package="http://exist-db.org/apps/shared"/>
    <xquery>
        <namespace>http://bdn-edition.de/intermediate_format/ifweb</namespace>
        <file>ifweb.xql</file>
    </xquery>
</package>
